@use '_app';

@font-face {
  font-family: 'JetBrains Mono';
  src: local('JetBrains Mono'),
    url('https://cdn.jsdelivr.net/gh/jetbrains/jetbrainsmono@1.0.2/web/woff2/JetBrainsMono-Regular.woff2')
      format('woff2'), url('https://cdn.jsdelivr.net/gh/jetbrains/jetbrainsmono@1.0.2/web/woff/JetBrainsMono-Regular.woff')
      format('woff'),
    url('https://raw.githubusercontent.com/JetBrains/JetBrainsMono/master/ttf/JetBrainsMono-Regular.ttf')
      format('truetype'), url('https://cdn.jsdelivr.net/gh/jetbrains/jetbrainsmono@1.0.2/web/eot/JetBrainsMono-Regular.eot')
      format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'NeoDunggeunmoPro-Regular';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2302@1.0/NeoDunggeunmoPro-Regular.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

/* body {background: #111111; position: relative;} */
body {position: relative; color: app.$themeColor; background: linear-gradient(#082011 10%, app.$themeColorDark 10%);
  background-size: 100% 10px; font-family:  'NeoDunggeunmoPro-Regular'; }
.App {display: flex; position: relative;}
.wave-wrap {position: absolute; width: 100%; height: 100%;  overflow-y: hidden; z-index: 0;}
.wave {position: absolute; top: -50%; width: 100%; height: 200px; background-image: linear-gradient(transparent, #0a2616); animation-name: waveFrame; animation-delay: 10s; animation-duration: 20s; animation-iteration-count: infinite; animation-direction: forward; animation-timing-function: linear; }

.txt-brt {filter: drop-shadow(0 0 2px rgba(36, 255, 102, 0.4)) drop-shadow(0 0 5px rgba(36, 255, 102, 0.4)) drop-shadow(0 0 15px rgba(36, 255, 102, 0.4));}

.txt-wht {color: #fff;}
.txt-org {color: #ffb475}

@keyframes waveFrame {
  0% {
    top: -50%;
  }
  100% {
    top: 300%;
  }
}

@media screen and (max-width: 1000px) {
  body {
    padding-bottom: 50px;
    .App {
      display: block;
    }
  }
  
}



