@use '_app';

.left-content {
  z-index: 3;
  position: fixed;
  height: 100vh; 
  text-align: center;
  display: flex; 
  flex-direction: row; 
  padding: 0 3%; 
  border-right: 1px solid app.$themeColor; 
  box-shadow: 0 0 10px rgba(36, 255, 102, 0.5);
  .left-cont-box {
    display: flex; 
    flex-direction: column; 
    align-items: center; 
    justify-content: center;
    h1 {
      font-size: 1.6rem; font-weight: 600; letter-spacing: 1px;
    }
    img {
      width: 130px; 
      filter: drop-shadow(0 0 0px rgba(36, 255, 102, 0.4)) drop-shadow(0 0 0px rgba(36, 255, 102, 0.4)) drop-shadow(0 0 18px rgba(36, 255, 102, 0.4)); 
      margin-bottom: 30px;
    }
    p {
      word-break: keep-all; 
      line-height: 25px;
    }
    input {
      font-family:  'NeoDunggeunmoPro-Regular';
      margin-top: 100px; 
      background-color: transparent; 
      outline: none; 
      border: none; 
      color: app.$themeColor; 
      font-size: 1.2rem; 
      text-align: center; 
      display: inline-block; 
      width: 175px;
    }
    .btn-copy 
    {
      display: inline-block; 
      cursor: pointer; 
      position: relative; 
      top: 4px;
    }
  }

  .copy-done {
    visibility: hidden;
    position: absolute;
    top: 0;
    left: 0;
    width: 80px;
    padding: 10px;
    background-color: app.$themeColorDark;
    transform: translate(-50%, -115%);
    z-index: 2;
    border: 2px solid app.$themeColor;
    transition: all 0.3s;
    opacity: 0;
  }
}

@media screen and (max-width: 1000px) {
  .left-content {
    display: block;
     width: 100%; 
     height: auto; 
     position: relative;
     box-sizing: border-box;
     border-right: none; 
      box-shadow: none;
     .left-cont-box {
      img {margin: 20px 0;}
      div input {margin: 20px 0;}
     }
    }
}