@use 'app';

.navigation {
  display: flex; 
  flex-direction: row; 
  align-items: center; 
  height: 100vh; 
  position: fixed; 
  border-right: 1px solid app.$themeColor; 
  box-shadow: 0 0 8px rgba(36, 255, 102, 0.5);
  ul {
    li {
      padding: 10px 20px;
      cursor: pointer;
    }
    li.on {
      background-color: app.$themeColor;
      color: app.$themeColorDark;
    }
  }
}