@use '_app';
@import '_mixin';

.navigation {
  display: flex; 
  flex-direction: row; 
  align-items: center; 
  height: 100vh; 
  position: fixed; 
  border-right: 1px solid app.$themeColor; 
  box-shadow: 0 0 8px rgba(36, 255, 102, 0.5);
  z-index: 2;
  ul {
    li {
      padding: 10px 20px;
      cursor: pointer;
      font-size: 1.2rem;
    }
    li.on {
      background-color: app.$themeColor;
      color: app.$themeColorDark;
    }
  }
}

@media screen and (max-width: 1000px) {
  .navigation {
    @include content-response;
    border-right: none;
    ul {
      display: flex;
      li {
        width: calc(100%/3);
        text-align: center;
      }
    }
  }
}