@use '_app';
@import '_mixin';

.profile {
  @include mainContent;

  .container {
    @include container
  }

  section {
    margin-bottom: 50px;
    h1 {@include title}
    h5 {
      padding: 5px 0;
      line-height: 23px;
      strong {font-weight: 600; font-size: 1.3rem; }
    }
    p {font-size: 1rem; line-height: 22px;}
    ul > li {
      line-height: 18px; 
      margin: 15px 0; 
      line-height: 20px;
      p {
        font-size: 1.2rem;
      }
    }
    ol > li {list-style: disc; margin: 5px 0 5px 30px;}

    &:last-of-type {
      margin-bottom: 0;
    }
  }
}

@media screen and (max-width: 1000px) {
  .profile {
    @include content-response;
    .container {
      @include mob-container;
      section h1 {
        font-size: 1.2rem;
        strong {
          font-size: 1.3rem;
        }
      }
    }
  }
}