@use '_app';
@import '_mixin';

.projects {
  @include mainContent;
  box-sizing: border-box;

  .container {
    @include container;
    height: 90vh;

    h1 {
      @include title
    }
    .slide-wrap {
      height: 93%;
      overflow-y: scroll;
    }
    .slide-wrap::-webkit-scrollbar {
      width: 10px;  /* 스크롤바의 너비 */
      box-shadow: none;
    }
    
    .slide-wrap::-webkit-scrollbar-thumb {
        height: 30%; 
        background: app.$themeColor; 
        box-shadow: 0 0 10px rgba(36, 255, 102, 0.5);
    }
    
    .slide-wrap::-webkit-scrollbar-track {
        background: rgba(33, 122, 244, .1);
    }
    .slide-content {
      margin-bottom: 30px;
      width: 98%;
      border: 1px solid app.$themeColor;
      padding: 3% 2%;
      box-sizing: border-box;
      h3 {
        font-size: 1.5rem;
        margin-bottom: 15px;
        display: flex;
        flex-direction: row;
        font-weight: 600;
        > div:nth-child(2) {
          margin-left: 8px;
        }
      }
      .slide-contbox {
        display: flex;
        flex-direction: row;
      }
      .img-box {
        width: 50%;
        img {
          width: 100%;
          height: auto;
          max-height: 260px;
        }
      }
      .txt-box {
        padding-left: 3%;
        box-sizing: border-box;
        width: 47%;
        div {
          margin: 5px 0;
          a {
            width: 85%;
            color: app.$themeColor;
            word-break: break-all;
          }
        }
        .comment {
          margin-top: 20px;
          word-break: keep-all;
        }
        .using-skill {
          img {margin: 5px;}
        }
      }
      &:last-of-type {
      margin-bottom: 0;
    }
    }
  }


  
}

@media screen and (max-width: 1000px) {
  .projects {
    @include content-response;
    padding-left: 0 !important;
    .container {
      @include mob-container;
      .slide-content {
        padding: 5%;
        .img-box {
          width: 100%;
        }
        .txt-box {
          padding-left: 0;
          width: 100%;
        }
        .slide-contbox {
          flex-direction: column;
        }
      }
    }
  }
}

@media screen and (max-width: 500px) {
  .slide-wrap::-webkit-scrollbar {
    width: 5px;  /* 스크롤바의 너비 */
    box-shadow: none;
  }

  .using-skill img {
    margin: 0 !important;
    margin-right: calc(5%/3) !important;
    margin-bottom: 10px !important;
    width: calc(95%/4);
  }
  .using-skill img:nth-child(4n) {
    margin-right: 0 !important;
  }
}

:root {--swiper-theme-color: #35d47a !important}